.ljus1 {
  background-color: gray;
  display: flex;
  justify-content: center;
}

.trafikljus {
  background-color: white;
  height: 900px;
  width: 300px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
div {
  height: 250px;
  width: 250px;
  display: flex;
}
.röd {
  background-color: red;
  border: 20px solid darkred;
  align-items: end;
}
.gul {
  background-color: yellow;
  border: 20px solid rgb(249, 187, 62);
  align-items: end;
  justify-content: end;
}
.grön {
  background-color: green;
  border: 20px solid darkgreen;
  align-items: end;
}
.litenröd {
  background-color: rgb(246, 117, 117);
  height: 125px;
}
.litengul {
  background-color: rgb(246, 246, 161);
  height: 125px;
  width: 125px;
}
.litengrön {
  background-color: rgb(136, 252, 136);
  height: 125px;
  width: 125px;
}
